APP_ENV=local
APP_NAME="AllJackpotPredictions"
APP_URL=http://127.0.0.1:5001

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=pitchnewdb
DB_USERNAME=
DB_PASSWORD=

CACHE_DRIVER=file
CACHE_PREFIX=ajp_cache_
REDIS_PREFIX=ajp_database_

PITCH_API_URL=https://api.pitchpredictions.com
ACCESS_TOKEN=
